<mat-card
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  "
>
  <img src="assets/FORM_URL.png" style="width: 300px; height: 300px" />
  <h1>Post-Task Questionnare Link</h1>
</mat-card>

<mat-card
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  "
>
  <h1>Usability Consultants</h1>

  <mat-chip-list aria-label="Fish selection">
    <mat-chip routerLink="/consent/Jejo">Jejo</mat-chip>
    <mat-chip routerLink="/consent/Barry">Barry</mat-chip>
    <mat-chip routerLink="/consent/Osith">Osith</mat-chip>
    <mat-chip routerLink="/consent/Karntawan">Karntawan</mat-chip>
    <mat-chip target="blank" routerLink="/consent/Jayant">Jayant</mat-chip>
  </mat-chip-list>
</mat-card>
